@import "./node_modules/bootstrap/scss/_functions";
@import "./node_modules/bootstrap/scss/_variables";
@import "./node_modules/bootstrap/scss/mixins/_breakpoints";
@import "./node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border-radius: 8px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  .view {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    min-width: 300px;

    @media screen and (min-width: 762px) {
      width: 500px;
    }
  }
}

.MuiTabs-flexContainer {
  align-items: center;
}

.MuiButton-root {
  border-radius: 20px !important;
}

.MuiFilledInput-root {
  background-color: transparent !important;
}

.MuiChip-label {
  font-weight: 300 !important;
}

.profile_tabs {
  a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0e213b;
    text-decoration: none;
  }
}

.job-offer-apply {
  padding: 10px;
  a {
    text-decoration: none;
  }

  border-radius: 8px;
  &:hover {
    background-color: #eff2f6;
  }
}

.step-icon {
  height: 5rem !important;
  width: 5rem !important;
}
